*{
    margin: 0px;
    padding: 0px;
}

.pre-header{
background-color: #f59cf5;
height: 75px;

}


.prvi{
    float: left;
    max-width: 100%;
    height: 30px;
    margin-top: 20px;
list-style: none;
margin-left: -400px;
}

.fizika{
    border-top: 3px solid black;
    
float: right;
margin-right: -15px;
margin-top: 3px;
font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.main-header{
background-color: yellow;
border-top: 3px solid black;
border-bottom: 3px solid black;

}

ul{
    display: inline;
    
    }

.main-header .menu li{

    width: 707px;
text-align: left;
    display: inline;
margin-left: 55px;
margin-right: auto;



}

.main-header .menu li a{
    color: black;
}

.pasus {
    
 display: inline-block;
    font-size: 40px;
border-top: 2px solid black;
border-right: 2px solid black;
border-left: 2px solid black;
border-bottom: 2px solid black;
    height: 300px;
width: 965px;
background-color: orange;
opacity: 0.6;
transition: 0.3s;
position: relative;
  right: 0;
  transition: right ease 0.5s;

}


.pasus:hover {
    opacity: 1;
    right: -15px;
    box-shadow: 15px 25px grey;





}

.pasuss{
    float: right;
    float: top;
display: inline-block;
font-size: 40px;
border-top: 2px solid black;
border-right: 2px solid black;
border-left: 2px solid black;
border-bottom: 2px solid black;
    height: 300px;
width: 965px;
background-color: orange;
opacity: 0.6;
transition: 0.5s;
position: relative;
  right: 0;
  transition: right ease 0.5s;





}

.pasuss:hover{
    opacity: 1;
    left: -45px;
    box-shadow: 15px 25px grey;




}




.pasus p{
    border-bottom: 2px solid black;
    text-align: right;
    display: inline;
    margin-left: 100px;
    float: right;

}

.pasusp{
    display: inline-block;
    font-size: 40px;
border-top: 2px solid black;
border-right: 2px solid black;
border-left: 2px solid black;
border-bottom: 2px solid black;
    height: 300px;
width: 965px;
background-color: orange;
opacity: 0.6;
transition: 0.3s;
position: relative;
  right: 0;
  transition: right ease 0.5s;

}

.pasusp:hover {
opacity: 1;
right: -15px;
box-shadow: 15px 25px grey ;




}

.pasusp p{
    border-bottom: 2px solid black;
    text-align: right;
    display: inline;
    margin-left: 100px;
    float: right;



}

.slika{
    display: inline-block;
margin-left: 0px;
margin-bottom: 2px;
border-top: 3px solid green;
border-right: 3px solid green;
border-bottom: 3px solid green;
border-radius:10px;
border: 1px solid #ccc;
background: #fff;
float: left;
position: relative;
  right: 0;
  transition: right ease 0.5s;
  transition: 0.3s;


}

.slika:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    right: -15px;
    box-shadow: 15px 25px #888888;
    opacity: 0.6;
    





}

.slika p{
    position: absolute;
    bottom: 250px;
    left: 250px;
color: white;
font-size: 40px;




}





.slike{
    margin-top: 290px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left:4px solid black;
    border-radius:10px;
    
    float: left;
    position: relative;
      right: 0;
      transition: right ease 0.5s;
      transition: 0.3s;



}

.slike:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    right: -15px;
    box-shadow: 15px 25px #888888;
    





}





